<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <main>
        <section class="main__">
            <div class="card-top-quote">
                <p class="header-top top-quote">The best quote of the day</p>
                <div class="content">
                    <span>"</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur assumenda voluptatibus, qui ipsa accusamus a accusantium architecto odio ex quam.</span>
                    <span>"</span>
                </div>
                <div class="footer">
                    <span>- John Doe</span>
                </div>
            </div>
        </section>
        <section></section>
    </main>
    <script src="/public/js/script.js">
    </script>
</body>
</html>