<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <ul>
        <% if (checkedValues && checkedValues.length > 0) { %>
            <% checkedValues.forEach(value => { %>
                <li><%= value %></li>
            <% }); %>
        <% } else { %>
            <p>No tags selected.</p>
        <% } %>
    </ul>
    <a href="/">Go back</a>
    <script>
    </script>
</body>
</html>
