@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 16px; /* 1rem = 16px */
  --textColor: #fff;
  --bgColorHeader: #000;
  --bgColorBody: #000;
  --secTextColor: #ff5931;
  --borderBottomHeader: #ff5931 0.3vh solid;
  --bgColorBtn: #ff5931;
  --tagBorder: 0.0625rem solid #c9c9c9; /* 1px */
  --tagChecked: #ce3812;
  --cardColor: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bgColorBody);
}

header {
  background-color: var(--bgColorHeader);
  height: 5rem; /* 80px */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--borderBottomHeader);
  padding: 0 10%;
}

header .title {
  font-family: "Raleway", sans-serif;
  font-size: 2.1875rem; /* 35px */
  color: var(--textColor);
  transition: 300ms;
}

header .title:hover {
  color: var(--secTextColor);
  transform: scale(0.9);
}

header .btnAdd {
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.625rem; /* 10px */
  background-color: var(--bgColorBtn);
  border: 0px;
  cursor: pointer;
  transition: 300ms;
}

header .add-story {
  font-family: "Raleway", sans-serif;
  font-size: 1.5625rem; /* 25px */
  color: var(--textColor);
  transition: 300ms;
}

header .btnAdd:hover {
  transform: scale(1.05);
}

.tags_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background-color: var(--cardColor);
  border-radius: 0.625rem; /* 10px */
  padding: 1.25rem 0; /* 20px */
  margin: 1.875rem 0; /* 30px */
  color: var(--textColor);
  font-family: "Raleway", sans-serif;
}

.tags {
  margin: 1.5625rem 0; /* 25px */
  display: grid;
  grid-template-columns: repeat(2, 11.875rem); /* 190px */
  grid-template-rows: repeat(8, 2.1875rem); /* 35px */
  gap: 0.625rem; /* 10px */
  user-select: none;
  font-family: "Raleway", sans-serif;
}

.tags input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.tags span {
  display: inline-block;
  cursor: pointer;
  width: 11.875rem; /* 190px */
  padding: 0 0.625rem; /* 10px */
  line-height: 1.875rem; /* 30px */
  border: var(--tagBorder);
  border-radius: 0.25rem; /* 4px */
  transition: 0.2s ease;
  color: var(--textColor);
}

.tags input[type="checkbox"]:checked + span {
  background: var(--tagChecked);
}

.searchBtn {
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.625rem; /* 10px */
  background-color: var(--bgColorBtn);
  border: 0px;
  cursor: pointer;
  transition: 300ms;
}

.searchBtn:hover {
  transform: scale(1.05);
}

.main__ {
  padding: 0 10%;
  display: flex;
  height: 100%;
  gap: 1.875rem; /* 30px */
}

.card-top-quote {
  color: var(--textColor);
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 35%;
  min-height: 25rem; /* 400px */
  margin: 1.875rem 0; /* 30px */
  border: 0.0625rem solid var(--cardColor); /* 1px */
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  background-color: var(--cardColor);
}

.card-top-quote .content {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem; /* 24px */
  height: 70%;
}
