<div>
    <form action="/searchByTags" id="searchByTags" method="post">
        <div class="tags">
            <label class="tags_btn">
                <input type="checkbox" value="1">
                <span>Philosophy</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="2">
                <span>Science</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="3">
                <span>Literature</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="4">
                <span>Education</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="5">
                <span>Motivation</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="6">
                <span>Politics</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="7">
                <span>History</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="8">
                <span>Art</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="9">
                <span>Religion</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="10">
                <span>Love and attitude</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="11">
                <span>Humor</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="12">
                <span>Wisdom</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="13">
                <span>Psychology</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="14">
                <span>Technology</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="15">
                <span>Health and well-being</span>
            </label>
        </div>
        <button type="submit" class="searchBtn" onclick="sendCheckboxes()">Search</button>
    </form>
</div>