<header>
    <a href="/" class="title">quo.</a>
    <div class="btn_side">
        <img src="/img/sun.svg"  onclick="userMode()" alt="" id="mode_icon" class="mode">
        <button class="btnAdd"><a href="/addAQuote"class="add-story">add a quote</a></button>
    </div>
</header>