<div>
    <form action="/searchByTags" id="searchByTags" method="post">
        <div class="tags">
            <label class="tags_btn">
                <input type="checkbox" value="Philosophy" name="checkedValues">
                <span>Philosophy</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Science" name="checkedValues">
                <span>Science</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Literature" name="checkedValues">
                <span>Literature</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Education" name="checkedValues">
                <span>Education</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Motivation" name="checkedValues">
                <span>Motivation</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Politics" name="checkedValues">
                <span>Politics</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="History" name="checkedValues">
                <span>History</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Art" name="checkedValues">
                <span>Art</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Religion" name="checkedValues">
                <span>Religion</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Love_and_attitude" name="checkedValues">
                <span>Love and attitude</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Humor" name="checkedValues">
                <span>Humor</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox"  value="Wisdom" name="checkedValues">
                <span>Wisdom</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Psychology" name="checkedValues">
                <span>Psychology</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Technology" name="checkedValues">
                <span>Technology</span>
            </label>
            <label class="tags_btn">
                <input type="checkbox" value="Health_and_well-being" name="checkedValues">
                <span>Health and well-being</span>
            </label>
        </div>
        <div class="tags_search">
            <button type="submit" class="searchBtn" onclick="sendCheckboxes()">Search</button>
        </div>
    </form>
</div>